/*
*Typefaces:* `Georgia`, `PT Sans Narrow`
- *Text sizes:* `1.125rem`, `0.875rem`, `1.25rem`
- *Line-heights:* `1.5`
- *Colours:* `#000`,`#fff`,`#afafaf`,`#ccc`,`#323232`,`#bebebe`,`#bd027d`,`#960062`,`#eccee2`
- *Gaps:* `1rem`
- *Margins:* `.5em`, `1.5rem`
- *Paddings:* `.5em .8em`, `.5em`, `1rem`, `1.5rem`
- *Border thicknesses:* `2px`
- *Corner-radii:* `6px`, `1em 0 0 1em`
*/

html {
  box-sizing: border-box;
  background-color: #afafaf;
  font-family: "Georgia", serif;
  font-weight: normal;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  font-family: "PT Sans Narrow", sans-serif;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

h1 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  margin: 0;
  z-index: 1;
}

h2, h3 {
   font-family: "PT Sans Narrow", sans-serif;
}

nav ul {
  background-color:  #bd027d;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav li a {
  text-decoration: none;
  color: #eccee2;
  text-transform: uppercase;
  border: 2px solid #960062;
  padding: 1rem;
  border-radius: 6px;
}

nav li a:hover {
  color: black;
  background-color: white;
}

nav {
  grid-column: 1 / -1;
  grid-row: 1 / 3;
}

img {
  display: block;
  width: 100%;
}

strong {
  font-style: italic;
}
